<!DOCTYPE html>
<html>
  <head>
    <script href="../metro/js/global.js"></script>
    <link href="../metro/build/css/metro.min.css"/>
  </head>
  <body>
    <div class=".flex-grid .flex-just-center">
      <!-- input with placeholder -->
      <div class="input-control text">
        <input type="text" placeholder="Input you text here...">
      </div>
      <!-- input[type=password] -->
      <div class="input-control password">
        <input type="password">
      </div>
  </div>
  </body>
</html>
