<div>
	<h1 class="text-light">
		{{anuncio.equipamento.nome}}
	</h1>
	<hr class="thin bg-grayLighter">
	<div class="grid">
		<div class="cells2 row">
			<div class="cell">
				<div class="image-container rounded bordered" style="float: left;">
					<img ng-src="../img/{{anuncio.equipamento.imagem}}" />
				</div>
				<div>
					<h3>Descrição</h3>
					{{anuncio.equipamento.descricao}}
				</div>
			</div>
			<div class="cell" >
				<div class="cell" ng-if="negociando">
					<div class="cell">
						<h5>Inicio</h5>
						<div class="input-control text full-size" data-role="datepicker">
							<input type="text">
							<button class="button"><span class="mif-calendar"></span></button>
						</div>
					</div>
					<div class="cell">
						<h5>Fim</h5>
						<div class="input-control text full-size" data-role="datepicker">
							<input type="text">
							<button class="button"><span class="mif-calendar"></span></button>
						</div>
					</div>
					<button
						class="button large-button success full-size"
						ng-click="salvarNegociacao()">
						Confirmar
					</button>
				</div>
				<div class="cell" ng-if="!negociando">
					<button
						class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.alugar"
						ng-click="negociar('alugar')">
						Alugar
					</button>
					<button class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.doar"
						ng-click="negociar('doar')">
						Doar
					</button>
					<button class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.vender"
						ng-click="negociar('vender')">
						Vender
					</button>
				</div>
				<h3>Caracteristicas</h3>
				<ul class="simple-list large-bullet green-bullet">
					<li ng-repeat='caracteristica in anuncio.equipamento.caracteristicas'>
						{{caracteristica}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
