<div>
	<h1 class="text-light">
		{{anuncio.equipamento.nome}}
	</h1>
	<hr class="thin bg-grayLighter">
	<div class="grid">
		<div class="cells2 row">
			<div class="cell">
				<div class="image-container rounded bordered" style="float: left;">
					<img src="../img/mkt-meme-1.jpg" />
				</div>
				<div>
					<h3>Descrição</h3>
					{{anuncio.equipamento.descricao}}
				</div>
			</div>
			<div class="cell">
				<div class="row cells3">
					<button 
						class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.alugar">
						Alugar
					</button>
					<button class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.doar">
						Doar
					</button>
					<button class="button large-button success full-size"
						ng-if="anuncio.equipamento.disponibilidade.vender">
						Vender
					</button>
				</div>
				<h3>Caracteristicas</h3>
				<ul class="simple-list large-bullet green-bullet">
					<li ng-repeat='caracteristica in anuncio.equipamento.caracteristicas'>
						{{caracteristica}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>