<div>
  <h1 class="text-light">
  Login
  </h1>
  <hr class="thin bg-grayLighter">
  <div class="grid">
    <div class="row cells2">
      <div class="cell">
        <h5>Email</h5>
        <div class="input-control text full-size">
          <input type="mail" placeholder="Email" ng-model='user.email' autocomplete="off" ng-model="pessoa.email">
        </div>
      </div>
      <div class="cell">
        <h5>Senha</h5>
        <div class="input-control password full-size">
          <input type="password" placeholder="Senha" ng-model='user.senha' autocomplete="off" ng-model="pessoa.senha">
        </div>
      </div>
    </div>
    <hr class="thin bg-grayLighter ">
    <div class="row ">
      <button class="image-button success " ng-click="login() ">
        Entrar
        <span class="icon mif-plus bg-emerald "></span>
      </button>
    </div>
  </div>
</div>
