<!DOCTYPE html>
<html>
  <head>
    <script href="../metro/js/global.js"></script>
    <link href="../metro/docs/css/metro.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="flex-grid flex-just-center">
      <div class="flex-grid flex-just-center">
        <!-- input with placeholder -->
        <div class="flex-grid flex-just-center">
          <div class="input-control text">
            <input type="text" placeholder="Input you text here...">
          </div>
        </div>
        <div class="cell">
          <div class="image-container rounded">
              <img src="../img/mkt-meme-1.jpg"/>
          </div>
      </div>
      <div class="cell">
        <div class="image-container rounded">
            <img src="../img/mkt-meme-1.jpg"/>
        </div>
    </div>
      </div>
    </div>
  </body>
</html>
