  <div class="flex-grid flex-just-center">
    <div class="flex-grid flex-just-center">
      <!-- input with placeholder -->
      <div class="flex-grid flex-just-center">
        <div class="input-control text">
          <input type="text" placeholder="pesquisar">
          <input type="button" name="detalhes" ng-click='detalhes(1)'>
        </div>
      </div>
      <div class="grid no-margin-top">
        <div class="row coll6">
          <div class="cell">
            <div class="image-container rounded bordered">
              <img src="../img/mkt-meme-1.jpg" />
            </div>
          </div>
          <div class="cell">
            <div class="image-container rounded bordered">
              <img src="../img/mkt-meme-1.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

