<div>
  <h1 class="text-light">
  Pessoa
  </h1>
  <hr class="thin bg-grayLighter">
  <form>
    <div class="row">
      <div class="input-control text">
        <input type="text" placeholder="nome" autocomplete="off" ng-model="pessoa.nome">
      </div>
    </div>
    <div class="row">
      <div class="input-control text">
        <input type="text" placeholder="email" autocomplete="off" ng-model="pessoa.email">
      </div>
    </div>
    <div class="row">
      <div class="input-control password">
        <input type="password" placeholder="senha"autocomplete="off" ng-model="pessoa.senha">
      </div>
    </div>

    <div class="row">
      <div class="input-control text">
        <input type="text" placeholder="logradouro" autocomplete="off" ng-model="pessoa.endereco.logradouro">
      </div>
    </div>
    <div class="row">
      <div class="input-control text">
        <input type="text" placeholder="bairro" autocomplete="off" ng-model="pessoa.endereco.bairro">
      </div>
    </div>
    <div class="row">
      <div class="input-control text">
        <input type="text" placeholder="cidade" autocomplete="off" ng-model="pessoa.endereco.cidade">
      </div>
    </div>
    <hr class="thin bg-grayLighter">
    <div class="row">
      <button class="image-button success" ng-click="salvar()">
        Salvar
        <span class="icon mif-plus bg-emerald"></span>
      </button>
    </div>
    <!-- <div class="row">
      <button class="button primary">Salvar</button>
    </div> -->
  </form>
</div>
